.site-footer__content--bottom .footerlogo img {
    height: 43px;
    width: auto;
    object-fit: contain;
    opacity: 1 !important;
    pointer-events: all !important;
    margin: var(--grid-margin) 0 0 var(--grid-margin);
}
